body {
    background-color: aquamarine;
}

.stopwatch-time {
    text-align: center;
    color: azure;
    font: 200;
    font-size: 60px;
}

.stopwatch-buttons {
    display: flex;
    justify-content: center;
}

.stopwatch-buttons button {
    margin: 35px;
    border: 20px;
    padding: 15px 40px;
    cursor: pointer;
    color: aqua;
}

.stopwatch-buttons button:first-child{
    background-color: antiquewhite;
}


.stopwatch-buttons button:last-child{
    background-color: antiquewhite;
}